body {
  margin: 0;
  background: #616075;
  overflow: hidden;
}

#app {
  display: flex;
}

#car-canvas {
  background: #1C1E57;
}

#network-canvas {
  background: #071715;
}

.stage {
  display: flex;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.controls button {
  border: none;
  background: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;

  background: #252537;

  font-size: 24px;

}

.controls button:hover {
  background: #313249;
}

button#takeControl > span {
  position: relative;
  top: -5px;
}


